<div class="tshirt-customizer">
    <div class="tshirt-display" [style.background-color]="tshirtColor">
      <img *ngIf="printImage" [src]="printImage" class="print-image" alt="Custom Print">
    </div>
    <div class="color-selector">
      <button (click)="changeColor('#ffffff')">White</button>
      <button (click)="changeColor('#000000')">Black</button>
      <button (click)="changeColor('#d31414')">Red</button>
      <button (click)="changeColor('#add8e6')">Blue</button>
      <button (click)="changeColor(' #c1adc0')">Lavander</button>
      
      <!-- Add more color options as needed -->
    </div>
    
    <div class="image-generator">
      <input #promptInput type="text" placeholder="Describe your image">
      <button (click)="generateImage(promptInput.value)">Generate Image</button>
    </div>
  </div>