/* Basic CSS for navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2fccd0;
    color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.nav-links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 15px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.3s ease; /* Add transition for smooth fade */
}

.nav-links li a:hover {
    background-color: #555;
}

.logo a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2em;
    transition: opacity 0.3s ease;
}

.logo a:hover {
    opacity: 0.8;
}

.burger {
    display: none; /* Hide initially on larger screens */
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none; /* Hide navbar links on smaller screens */
        flex-direction: column;
        text-align: center;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #2fccd0;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .nav-links.active {
        display: flex;
        opacity: 1;
    }

    .nav-links li {
        margin: 15px 0;
    }

    .burger {
        display: block; /* Show burger menu icon on smaller screens */
    }
    
    .burger:hover div {
        background-color: rgba(255, 255, 255, 0.8);
    }
}